
  <!-- <a href="https://github.com/zikosichi/hierarchi-view" target="_blank" class="github-badge">
      <img src="images/github-red.svg">
  </a> -->
  <div class="hv-container">
      <div class="hv-wrapper">

          <!-- Key component -->
          <div class="hv-item">

              <div class="hv-item-parent">
                  <p class="simple-card"> Production </p>
              </div>

              <div class="hv-item-children">

                  <div class="hv-item-child">
                      <!-- Key component -->
                      <div class="hv-item">

                          <div class="hv-item-parent">
                              <p class="simple-card"> Test One </p>
                          </div>

                          <div class="hv-item-children">

                              <div class="hv-item-child">
                                  <p class="simple-card"> development one </p>
                              </div>

                              <div class="hv-item-child">
                                  <p class="simple-card"> development two </p>
                              </div>

                          </div>

                      </div>
                  </div>

                  <div class="hv-item-child">
                    <!-- Key component -->
                    <div class="hv-item">

                        <div class="hv-item-parent">
                            <p class="simple-card"> Test Two </p>
                        </div>

                        <div class="hv-item-children">

                            <div class="hv-item-child">
                                <p class="simple-card"> development three </p>
                            </div>

                            <div class="hv-item-child">
                                <p class="simple-card"> development four </p>
                            </div>

                        </div>

                    </div>
                </div>

              </div>

          </div>

      </div>
  </div>
  <h1>Angular 2 Recursive List</h1>

